
<div class="pokedex-container">
    <div class="search-container">
        <button class="prev-button" (click)="searchPrev(+pokemonId - 1)">prev</button>
        <input class="search-box" type="text" [(ngModel)]="pokemonId" (change)="search(pokemonId.toLowerCase())" placeholder="Pokemon Id">
        <button class="next-button" (click)="searchNext(+pokemonId + 1)">next</button>
    </div>
    <div class = "info-container" *ngIf="response">
        <div class="pokedex-img-container">
            <img class="pokedex-img" src={{img}} alt="">
        </div>
        <!-- <p class="pokedex-text">Id: {{getId()}}</p> -->
        <div class="pokedex-text-container">
            <p class="pokedex-text">Name: {{getName()}}</p>
            <p class="pokedex-text">Type: {{getType()}}</p>
            <p class="pokedex-species">{{getSpecies()}}</p>
        </div>
        <div class="pokedex-stats">
            <p>HP: {{getHp()}}</p>
            <p>ATK: {{getAttack()}}</p>
            <p>DEF: {{getDefense()}}</p>
        </div>
    </div>
</div>
