@font-face {
    font-family:"PokemonGb";
    src: url("../../fonts/pokemon-gb-font/PokemonGb-RAeo.ttf") format("truetype");
}

*{
    font-family: PokemonGb;
}

.pokedex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba($color: #4ea2e671, $alpha: 1);
    width: 100%;
    height: 100%;
}

.info-container{
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
}

.pokedex-img{
    width: 100%;
    position: relative;
    align-content: center;
}

.pokedex-img-container{
    width: 100%;
    border-radius: 10px;
    border: black solid 2px;
    background-color: white;
}

.search-container{
    width: 80%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-box{
    border: black solid 2px;
    height: 30px;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    font-size:small;
}
.prev-button{
    background-color: rgba($color: #f37070, $alpha: 1);
    border: black solid 2px;
    border-radius: 10px;
    height: 30px;
    font-size:small;
}
.next-button{
    background-color: rgba($color: #f37070, $alpha: 1);
    border: black solid 2px;
    border-radius: 10px;
    height: 30px;
    font-size:small;
}

button{
    height: 20px;
    font-size:small;
}

* {
    box-sizing: border-box;
}

.pokedex-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 90%;
    margin: 0 10px 0 10px;
}

.pokedex-text{
    font-size: medium;
    margin-bottom: 0;
}

.pokedex-species{
    font-size: small;
    margin: auto;
    padding-top: 15px;
}